<!-- <h1>StaticPages#contact</h1> -->
<!-- <p>Find me in app/views/static_pages/contact.html.erb</p> -->

<span class="textwriting">Email: <a href="mailto:jose.perezroura@gmail.com" class="white">jose.perezroura@gmail.com</a><p>
Mobile: 305.495.4625</span>
