<div class="container">
  <div class="row">
    <ul style="list-style: none;">
      <li class="logos">
        <span class="textwriting">
          <center><h3>State Logos</h3></center>
        </span>
      </li>
      <li class="logos"><img src="/assets/tenn-01.png" height="200" width="200"></li>
      <li class="logos"><img src="/assets/florida-01.png" height="200" width="200"></li>
      <li class="logos"><img src="/assets/colorado-01.png" height="200" width="200"></li>
    </ul>
    <ul style="list-style: none;">
      <li class="logos">
        <span class="textwriting">
          <center><h3>Corporate Logos</h3></center>
        </span>
      </li>
      <li class="logos"><img src="/assets/5thavelogo-01.png" height="200" width="200"></li>
      <li class="logos"><img src="/assets/bitlogo3-01.png" height="200" width="200"></li>
      <li class="logos"><img src="/assets/bcLogoFinal1.svg" height="200" width="200"></li>
    </ul>
  </div>
</div>
